@import url('https://fonts.googleapis.com/css?family=Cinzel|Orbitron|Playfair+Display|Quattrocento');

/*
font-family: 'Playfair Display', serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Cinzel', serif;*/

/*  https://mcallisterd.github.io/CSS_website-fix/css.css */



/*
Changed max-width to 1300 so there isn't a scroll wheel at the bottom
of every page.
*/
body{
   font-size: 18px;
   background-image: url(body.png);
   background-repeat:repeat;
   background-attachment: fixed;
   background-size: 1600px;
   max-width: 1440px;
   min-width: 1200px;
   font-family: 'Quattrocento', sans-serif;
}


/* header */

/*Position relative and top/left are to make the header touch
the top and left of the browser window */
div.header{
            font-family: cursive;
            background-image: url("header.png");
            opacity: 20%;
            background-size: 1200px;
            position: relative;
            top: -10px;
            left: -12px;
            background-repeat:no-repeat;
            width: 1200px;
            border-bottom-right-radius: 100px;
            opacity: 0.8;
}

div.header img.person_image{
            height: 90px;
            width: 90px;
            border-radius: 100px;
            position: relative;
            left: 160px;
            top: 30px;
}

div.header span.username{
            font-size: 25px;
            position: relative;
            left: 130px;
            border-bottom: dotted;
            border-bottom-right-radius: 50px;
            padding-right: 40px;
            padding-bottom: 3px;

}

div.nav{
            position: relative;
            top: -70px;
            font-size: 25px;
            left: 330px;
}

a{
            padding-right: 40px;
            color: black;
            cursor: url("selection.ico"),auto;
}

div.nav a{
            font-family: 'Cinzel', serif;
}


a.assignment_link{
  text-decoration: none;
}

a:hover{
            color: #cc3333;
}




/* home page 字体样式 */
h1{
          position: fixed;
          left: 1100px;
          top: 300px;
          font-size: 50px;
          display: -webkit-box;
          -webkit-transform: rotate(90deg);
          font-family: 'Cinzel', serif;
          font-weight: black;
          background:rgba(255, 255, 255, 0);

}







/* Day-box */

div.day-box{
          display: block;
          width: 710px;
          margin-bottom: 100px;
}

.PREP{
          position: relative;
          left: 120px;
          background-image: url('prep.png');
          background-size: 650px;
          top: 60px;
}

.CURRENT{
          position: relative;
          left: 120px;
          margin-bottom: 120px;
          background-image: url('current.png');
          background-size: 700px;
}

.COMPLETED{
          position: relative;
          left: 350px;
          margin-bottom: 30px;
          background-image: url('complete.png');
          background-size: 800px;
}





/* 日期 */
div.day{
        font-size: 25px;
        width: 200px;
        display: -webkit-box;
        top: 20px;
        position: absolute;
        height: 40px;
        left: 10px;
        font-family: 'Orbitron', sans-serif;
        line-height: 40px;
}

div.notes{
        font-size: 15px;
        width: 120px;
        position:absolute;
        top: 100px;
        background:rgba(255, 255, 255, 0.5);
        padding-right: 80px;
}

.reading-box{
        left: 210px;
        top: 20px;
        position: relative;
        margin-left: 20px;
        margin-bottom: 50px;
        width: 450px;
        background:rgba(255, 255, 255, 0.5);
        padding-left: 15px;

}

div.reading{
        margin-bottom: 10px;


}

div.assignment-label{
        font-size: 25px;
        font-weight: bold;
        font-style: italic;
        border-bottom: dotted;
        width: 60px;
        border-bottom-right-radius: 20px;
        margin-bottom: 10px;
        padding-right: 20px;
        border-width: 2px;
        font-family: 'Cinzel', serif;
        font-weight:normal;
}


.prep-box{
        left: 210px;
        position: relative;
        width: 450px;
        margin-left: 20px;
        background:rgba(255, 255, 255, 0.5);
        padding-left: 15px;
}



.lab-box{
        left: 210px;
        position: relative;
        width: 450px;
        background:rgba(255, 255, 255, 0.5);
        margin-left: 20px;
        top: -10px;
        padding-left: 15px;
      }


.grading-box{
        left: 210px;
        position: relative;
        margin-bottom: 20px;
        width: 450px;
        margin-left: 20px;
        background:rgba(255, 255, 255, 0.5);
        padding-left: 15px;
        padding-bottom:15px;
        padding-top: 15px;
}






/* Account  */

form.account_form{
          margin: 40px;
          line-height: 90px;
          font-size: 25px;
          max-width: 1400px;
}

.title{
          font-family: 'Cinzel', serif;
          font-weight: bolder;
}

form.account_form label{
  margin-right: 30px;
  font-weight: bolder;
  float: left;
}

input:hover{
  color: #cc3333
}

form.account_form input{
            margin-right: 20px;
            height: 30px;
            background: rgba(255, 255, 255, 0.5);
            border-bottom: dotted;
            border-left: none;
            border-right: none;
            border-top: none;
            border-bottom-right-radius: 30px;
            border-top-left-radius: 30px;
            border-width: 2px;
            font-family: inherit;
            font-size: 20px;
            padding-left: 30px;
            padding-right: 30px;
            cursor: url("selection.ico"),auto;
            float: left;
            position: relative;
            top: 30px;
}

              label:nth-of-type(3){
                clear: both;
              }
              label:nth-of-type(4){
                clear: both;
              }
              label:nth-of-type(5){
                clear: both;
              }
              label:nth-of-type(6){
                clear: both;
              }
              label:nth-of-type(7){
                clear: both;
              }
              label:nth-of-type(8){
                clear: both;
              }
              input:nth-of-type(6){
                        width: 400px;
                        position: relative;
                        left: 130px;
                   }
              input:nth-of-type(7){
                                     width: 400px;
                                }
              input:nth-of-type(8){
                                     width: 400px;
                                }


form.account_form img.person_image{
              height: 70px;
              width: 70px;
              border-radius: 100px;
              position: relative;
              right: 700px;
              top: 370px;
}




/* classmate page */

/* Make the people's pictures in the classmates tab the correct size and add
padding to the top so that people's names are more readable*/
tr img{
  height: 192px;
  width: 160px;
  padding-top:10px;
}

/*Make people's names on the classmates page appear right below their picture */
td span.username{
  left:0px;
}

/*Make the picture for lab partner and grading smaller */
div.login img.person_image {
              height: 100px;
            width: 100px;
            border-radius: 100px;
            position: relative;
            top: 100px;
            left: 140px;
}

div.login div.person_info div.sound{
                position: relative;
              left: 250px;
              top: 50px;
}

div.login div.person_info span.username{
              font-size: 25px;
              border-bottom: dotted;
              border-bottom-right-radius: 50px;
              padding-right: 40px;
              padding-bottom: 3px;
              position: relative;
                top: 10px;
                left: 300px;
}

div.login div.username{
              position: relative;
                top: 50px;
                left: 150px;
                font-size: 20px;
}

div.login input[name=username0]{
                  background: rgba(255, 255, 255, 0.5);
                border-bottom: dotted;
                border-left: none;
                border-right: none;
                border-top: none;
                border-bottom-right-radius: 30px;
                border-top-left-radius: 30px;
                border-width: 1px;
                font-family: inherit;
                font-size: 15px;
                padding-left: 30px;
                cursor: url(selection.ico),auto;
                position: relative;
                left: 20px;
                top: -3px;
}

div.login > div:nth-of-type(3){

  position: relative;
top: 80px;
left: 150px;
}

div.login > div:nth-of-type(3) label{
  font-family: 'Cinzel', serif;
font-size: 20px;
}

input[name=password0]{
            background: rgba(255, 255, 255, 0.5);
              border-bottom: dotted;
              border-left: none;
              border-right: none;
              border-top: none;
              border-bottom-right-radius: 30px;
              border-top-left-radius: 30px;
              border-width: 1px;
              font-family: inherit;
              font-size: 15px;
              padding-left: 30px;
              cursor: url(selection.ico),auto;
              position: relative;
              left: 20px;

}

input[value='Log In']{
              background: rgba(255, 255, 255, 0.5);
            border-bottom: dotted;
            border-left: none;
            border-right: none;
            border-top: none;
            border-bottom-right-radius: 30px;
            border-top-left-radius: 30px;
            border-width: 1px;
            font-family: inherit;
            font-size: 10px;
            padding-left: 20px;
            padding-right: 20px;
            height: 20px;
            cursor: url(selection.ico),auto;
            position: relative;
            left: 400px;
            top: 100px;

}

div.partner{
            display: -webkit-box;
            position: absolute;
            left: 800px;
            top: 210px;
}

div.partner div.person_info img.person_image{
              height:60px;
              width: 60px;
              border-radius: 100px;
            }

div.partner div.person_info div.sound{
              top: 40px;
              left: 80px;
              position: relative;
              border-radius: 100px;
              height: 30px;
              width: 30px;
              background-image: url(soundbutton.png);
              background-size: cover;

}

div.partner span.username{
  font-size: 20px;
border-width: 2px;
}

div.partner a{
  position: relative;
    top: 40px;
}

/*Making the audio button visible */
div.person_info div.sound{

            background-image:url(soundbutton.png);
            background-size: cover;
            border-radius:100px;
            height: 30px;
            width: 30px;
            position: relative;
            top: -30px;
}


/* general sound button positioning in the header */
div.header div.sound{
  position:relative;
  top: 40px;
  left: 50px;
  position: relative;
  border-radius: 100px;
  height:40px;
  width:40px;
  background-image:url(soundbutton.png);
  background-size: cover;
}

/* seating page */

div.header+svg{
  background-color: rgba(0,0,0,.5);
  background-size: cover;
  height:500px;
  border:dotted;
  border-radius:80px;
  margin: 50px;
  margin-left: 200px;
}





/* HW Submit Page */

form.assignment_form{
  font-family: cursive;
}

.assignment_title{
    text-decoration: underline;
    font-size: 25px;
    font-style: italic;
    border-bottom: dotted;
    width: 300px;
    border-bottom-right-radius: 20px;
    margin-bottom: 10px;
    padding-right: 20px;
    border-width: 2px;
    font-family: 'Cinzel', serif;
    font-weight: normal;
    margin-top: 50px;

}

.assignment-title{
  text-decoration: none;
  font-size: 20px;
  font-style: italic;
  border-bottom: dotted;
  border-bottom-right-radius: 20px;
  margin-bottom: 10px;
  border-width: 2px;
  font-family: 'Cinzel', serif;
  font-weight: normal;
  margin-top: 30px;
  padding-right: 10px;

}

div.assignment_prompt{
            margin-top: 30px;
            margin-left: 30px;
            line-height: 40px;
            width: 600px;
            font-family: 'Orbitron';
            padding-top: 30px;
            padding-left: 30px;
            font-size: 20px;
            background: rgba(255,255,255,0.5);
            border-bottom: dotted;
            border-top: none;
            border-left: none;
            border-right: dotted;
            border-bottom-right-radius: 30px;
            border-top-left-radius: 30px;
}

div.view_text{
            border-bottom: dotted;
          border-top: none;
          border-left: none;
          border-right: dotted;
          border-bottom-right-radius: 30px;
          border-top-left-radius: 30px;
          background: rgba(255,255,255,0.5);
          padding: 15px;
          border-width: 2px;
}


textarea.input_text{
                background: rgba(255,255,255,0.5);
                min-width: 500px;
                min-height: 200px;
                border-bottom: dotted;
                border-top: none;
                border-left: none;
                border-right: dotted;
                border-bottom-right-radius: 30px;
                border-top-left-radius: 30px;
                position: absolute;
                left: 750px;
                top: 330px;
                cursor: url("selection.ico"),auto;
                padding-top: 20px;
}

textarea:hover{
            color: #cc3333;
}



textarea[name=assignment_text_comments]{
          background: rgba(255,255,255,0.5);
          min-width: 500px;
          min-height: 100px;
          border-bottom: dotted;
          border-top: none;
          border-left: none;
          border-right: dotted;
          border-bottom-right-radius: 30px;
          border-top-left-radius: 30px;
          padding-top: 15px;
          cursor: url("selection.ico"),auto;
          position: relative;
          top: 50px;
          left: 100px;
}


table input{
  margin-left: 12px;
}

div.assignment_prompt ol{
          list-style-type: square;
          margin-block-start: 2em;
          margin-block-end: 1em;
          margin-inline-end: px;
          font-size: 20px;
          font-family: cursive;
}

form.assignment_form > input[type=submit]{
          background: rgba(255,255,255,0.5);
          border-bottom: dotted;
          border-width: 1px;
          border-top: none;
          border-left: none;
          border-right: dotted;
          border-bottom-right-radius: 30px;
          border-top-left-radius: 30px;
          cursor: url("selection.ico"),auto;
          padding-top: 4px;
          cursor: url(selection.ico),auto;
          width: 100px;
          height: 30px;
          font-size: 15px;
          font-family: 'Orbitron';
          position: relative;
          top: 30px;
    left: 120px;

}

div.rubric_score table{
                  position: relative;
                  left: 40px;

}

table.grade-table{
                margin-top: 30px;
                position: relative;
                left: 100px;
                font-family: cursive;
                font-size: 20px;
                background: rgba(0,0,0,0.3);
                border-radius: 60px;
                padding: 30px;
}

table.grade-table td{
                padding-left: 20px;
                padding-right: 20px;
}

/*Keep the grading rubic area to the left so if the input box has to extend
down they don't overlap*/

div.rubric_score{
            width:600px;
}

textarea.input_text+p{
            width:600px;
            position:relative;
            left:40px;
}





/* classmate table */


h1+table{
        position: relative;
        left: 50px;
        top: 50px;
        font-family: 'Cinzel', serif;
}

th{
        font-size: 25px;
        padding: 20px;
}

div.person_info img.person_image{
  height: 100px;
    width: 100px;
    border-radius: 100px;
}

h1 + table tbody tr th:first-of-type{
      width: 600px;

}

td div.person_info span.username {
          font-size: 18px;
          position: relative;
          left: 110px;
          border-bottom: dotted;
          border-width: 2px;
          border-bottom-right-radius: 50px;
          padding-right: 20px;
          padding-bottom: 0.5px;
          font-family: 'Cinzel', serif;
          top: -70px;

}

td div.person_info{

          position: relative;
          left: 200px;
          padding-top: 20px;
}

h1 + table tbody tr td:last-of-type{
          position: relative;
          font-size: 20px;
          top: 15px;
}
