div.day-box.Prep {

}

div.day{

}

div.reading-box{

}

div.prep-box{

}

div.assignment_link{

}

div.lab-box{

}

div.header{
  height:40%;
  width: 200px;
  position:fixed;
  background-color: gray;
  margin: 0px;
  right: 0;
  top: 0;
}

div.header span.username{
  /*writing-mode: vertical-rl;*/
  color: white;
}

div.header img.person_image{
  position: relative;
  /*left: 100px;*/
}


div.person_info{

}

div.nav a{
  width: 70px;
  height: 70px;
  float: left;
  clear:right;
  background-color: #efefef;
  text-align: center;
}

div.nav a:hover{
  background-color: green;
}

div.day-box.COMPLETED{
  width:300px;
  height: 600px;
  float:left;
  background-color: yellow;
}

div.person_info{

}

img.person_image{

}

table{

}

span.username{

}

div.sound{

}

svg image.seat_pic{

}

form label{

}

form{

}

input[type="text"]{

}

input[type="file"]{

}

input[type="submit"]{

}

h1{

}

a.assignment_link{

}

div.graded-assignment{

}

div.partners{

}

div.assignment-title{

}

div.prompt{

}
div.assignment_prompt{

}

div.view_text{

}

div.author_comments{

}

div.rubric_score{

}

div.rubic_score table{

}

// div.rubric_score table td

textarea.assignment_text_comments{

}

textarea.input_text{

}
